# Ignore specific unitypackage files
unity/VR_Final/Assets/Low Poly Pistol Weapon Pack 2/Low Poly Pistol Weapon Pack 2_HDRP.unitypackage
unity/VR_Final/Assets/Low Poly Pistol Weapon Pack 2/Low Poly Pistol Weapon Pack 2_HDRP.unitypackage.meta
unity/VR_Final/Assets/Low Poly Pistol Weapon Pack 2/Low Poly Pistol Weapon Pack 2_URP.unitypackage
unity/VR_Final/Assets/Low Poly Pistol Weapon Pack 2/Low Poly Pistol Weapon Pack 2_URP.unitypackage.meta
